section{
  background: linear-gradient(119.56deg, #F26826 0%, #FDB823 100%);
  width: 360px;
  max-width: 360px;
  margin: 0 auto 10px;
}
/**** crear cuenta ********/
.create-account p{
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
